@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: hsl(225, 9.09%, 8.63%);
    --foreground: hsl(0, 0%, 100%);
    --card: #222832;
    --foreground: hsl(0, 0%, 100%);
    --popover: hsl(0, 0%, 100%);
    --popover-foreground: hsl(0, 0%, 3.9%);
    --primary: #FD7612;
    --primary-foreground: hsl(0, 0%, 98%);
    --secondary: hsl(0, 0%, 96.1%);
    --secondary-foreground: hsl(0, 0%, 9%);
    --muted: #282E38;
    --muted-foreground: hsl(217, 12%, 63%);
    --accent: hsl(0, 0%, 96.1%);
    --accent-foreground: hsl(0, 0%, 9%);
    --destructive: hsl(0, 84.2%, 60.2%);
    --destructive-foreground: hsl(0, 0%, 98%);
    --border: hsl(0, 0%, 89.8%);
    --input: hsl(0, 0%, 89.8%);
    --ring: hsl(0, 0%, 3.9%);
    --chart-1: hsl(12, 76%, 61%);
    --chart-2: hsl(173, 58%, 39%);
    --chart-3: hsl(197, 37%, 24%);
    --chart-4: hsl(43, 74%, 66%);
    --chart-5: hsl(27, 87%, 67%);
    --radius: 0.5rem
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}